@use "../abstracts/mixins" as mx;

%flexItemCenterY {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
}

.top-bar {
  @extend %flexItemCenterY;
  position: relative;
  padding: 30px 0;

  &__more {
    display: none;

    @include mx.screen(lg) {
      display: block;
      margin-right: 26px;
    }
  }

  @include mx.screen(lg) {
    padding: 20px 0;
  }

  @include mx.screen(sm) {
    justify-content: space-between;
    padding: 16px 0;
  }
}

.nav {
  margin-left: 129px;

  @include mx.screen(lg) {
    display: none;
  }

  @include mx.screen(xl) {
    margin-left: 80px;
  }

  &__menu {
    display: flex;
  }

  &__link {
    @extend %flexItemCenterY;
    gap: 6px;

    height: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    img {
      margin-top: 3px;
    }
  }

  &__item {
    padding: 0px 15px;

    &:hover .dropdown {
      visibility: visible;
      opacity: 1;
    }
  }
}

.top-act {
  display: flex;
  margin-left: auto;
  column-gap: 30px;

  @include mx.screen(sm) {
    margin-left: 0;
  }

  &__group {
    @extend %flexItemCenterY;
    min-width: 50px;
    height: 50px;

    border-radius: 8px;
    background: var(--top-cta-group-color);
    box-shadow: 0px 20px 60px 10px var(--top-cta-group-shadow);

    @include mx.screen(lg) {
      min-width: 43px;
      height: 43px;
    }

    @include mx.screen(sm) {
      display: none;
    }
  }

  &__group:first-child {
    @include mx.screen(md) {
      display: none;
    }
  }

  &__btn {
    @extend %flexItemCenterY;
    column-gap: 10px;
    padding: 13px 20px;
  }

  &__btn--single {
    padding: 13px;
  }

  &__separate {
    width: 2px;
    height: 30px;
    background: var(--top-cta-group-separate);
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
  }
}
