html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(23%) saturate(1576%)
    hue-rotate(210deg) brightness(99%) contrast(96%);
  --text-logo-color: #1a162e;
  --header-bg-color: #eee;
  --top-cta-group-color: #fff;
  --top-cta-group-shadow: rgba(237, 237, 246, 0.2);
  --top-cta-group-separate: #ededf6;
}
